<!-- Banner -->
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide justify-content-around align-items-center">
                <div class="ban1-bgimg">
                    <img class="img-fluid banner-bg" src="/static/frontend/images/banner/11.png" alt="">
                </div>
                  <div class="banner-header">
                        <div class="iq-mb-20">
                            <h2 class="d-flex" data-iq-gsap="onStart" data-iq-position-x="0" data-iq-position-y="50" data-iq-duration="1" data-iq-delay=".7">Your Best Moves Now!</h2>
                            <h2 class="banner-title d-flex" data-iq-gsap="onStart" data-iq-position-x="0" data-iq-position-y="50" data-iq-duration="1" data-iq-delay=".7">Easy And Secure.</h2>
                        </div>
                        <small  data-iq-gsap="onStart" data-iq-position-x="0" data-iq-position-y="50" data-iq-duration="1" data-iq-delay=".8" class="banner-dec my-5 iq-mt-20">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been <br> the industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the<br>printing and typesetting industry. Lorem Ipsum has been the industry's standard.</small>
                        <div class="iq-mt-20 d-flex banner-button" data-iq-gsap="onStart" data-iq-position-x="0" data-iq-position-y="50" data-iq-duration="1" data-iq-delay="1.3">
                            <a href="javascript:void(0)" class="button  iq-mt-10"><span class="button-inner-box">
                                <span class="icon-one icon"><svg  aria-hidden="true" focusable="false" data-prefix="fas" data-icon="long-arrow-alt-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z"></path></svg></span>
                                <span class="text-btn">View More</span>
                                <span class="icon-two icon"><svg  aria-hidden="true" focusable="false" data-prefix="fas" data-icon="long-arrow-alt-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z"></path></svg></span>
                                </span>
                            </a>
                        </div>
                  </div>
                  <div class="banner-img-1">
                     <img data-iq-gsap="onStart" data-iq-position-x="0" data-iq-position-y="50" data-iq-duration="1.2" data-iq-delay="1.5" src="/static/frontend/images/banner/03.png" alt="image">
                  </div>
            </div>
            <div class="swiper-slide">
                <div class="ban1-bgimg">
                    <img class="img-fluid banner-bg" src="/static/frontend/images/banner/11.png" alt="">
                </div>
                <div class="banner-header-2">
                    <h2 data-iq-gsap="onStart" data-iq-position-x="0" data-iq-position-y="50" data-iq-duration="1" data-iq-delay=".6" class="future">what are future</h2>
                    <h2 data-iq-gsap="onStart" data-iq-position-x="0" data-iq-position-y="50" data-iq-duration="1" data-iq-delay=".9" class="my-4">Buy, Sell, Exchange Bitcoins with Neurovart ! </h2>
                    <div class="d-flex justify-content-center banner-img-3" data-iq-gsap="onStart" data-iq-position-x="0" data-iq-position-y="50" data-iq-duration="1.5" data-iq-delay="1.2">
                        <img class="img-fluid  me-4" src="/static/frontend/images/banner/05.png" alt="">
                        <img class="img-fluid  me-4" src="/static/frontend/images/banner/06.png" alt="">
                        <img class="img-fluid  me-4" src="/static/frontend/images/banner/05.png" alt="">
                        <img class="img-fluid " src="/static/frontend/images/banner/05.png" alt="">
                    </div>
                </div>
            </div>
            <div class="swiper-slide d-flex justify-content-around align-items-center">
                <div class="ban1-bgimg">
                    <img class="img-fluid banner-bg" src="/static/frontend/images/banner/11.png" alt="">
                </div>
                <div class="banner-header-3">
                    <div class="banner-title-3 iq-mb-20">
                        <h2 data-iq-gsap="onStart" data-iq-position-x="0" data-iq-position-y="50" data-iq-duration="1" data-iq-delay=".7" class="d-flex">Be Ready to fly with</h2>
                        <h2 data-iq-gsap="onStart" data-iq-position-x="0" data-iq-position-y="50" data-iq-duration="1" data-iq-delay=".7" class="banner-title d-flex">Neurovart.</h2>
                    </div>
                    <small class=" banner-dec" data-iq-gsap="onStart" data-iq-position-x="0" data-iq-position-y="50" data-iq-duration="1" data-iq-delay="1">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been <br> the industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the<br>printing and typesetting industry. Lorem Ipsum has been the industry's standard.</small>
                    <div class="d-flex iq-mt-20 banner-button" data-iq-gsap="onStart" data-iq-position-x="0" data-iq-position-y="50" data-iq-duration="1.2" data-iq-delay="2">
                        <a href="javascript:void(0)" class="button">
                            <span class="button-inner-box">
                            <span class="icon-one icon"><svg  aria-hidden="true" focusable="false" data-prefix="fas" data-icon="long-arrow-alt-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z"></path></svg></span>
                            <span class="text-btn">View More</span>
                            <span class="icon-two icon"><svg  aria-hidden="true" focusable="false" data-prefix="fas" data-icon="long-arrow-alt-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z"></path></svg></span>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="banner-img-2">
                    <img data-iq-gsap="onStart" data-iq-position-x="0" data-iq-position-y="50" data-iq-duration="2" data-iq-delay="1"  src="/static/frontend/images/banner/04.png" alt="image">
                 </div>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    <!-- Banner End -->