{% extends 'backend/user/layout/app.html' %}
{% block title %} {{ APP_NAME }} | UserList {% endblock %}
{% block style %}
<style>
    #datatable_length, #datatable_info{display: none;}
    #datatable_filter input{border: 1px solid #dda30a;}
</style>
{% endblock %}
{% block newcontent %}
<div class="col-sm-12 col-lg-12">
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <div class="header-title">
                <h4 class="card-title">Payout List</h4>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="datatable" border="1" class="table table-striped iq-table1" data-toggle="data-table">
                   <thead>
                      <tr>
                         <th>Sl No</th>
                         <th>Customer ID</th>
<!--                         <th>Request Amount</th>-->
<!--                         <th>Service Charge</th>-->
<!--                         <th>Charge Amount</th>-->
                         <th>Final Amount</th>
                         <th>Status</th>
                         <th>Admin Remarks</th>
                         <th>Action</th>
                         <th>Created At</th>
                         <th>Updated At</th>
                      </tr>
                   </thead>
                   <tbody>
                        {% if payouts %}
                            {% for payout in payouts %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ payout.cus_id }}</td>
<!--                                <td>{{ payout.request_amount }}</td>-->
<!--                                <td>{{ payout.service_charge }}</td>-->
<!--                                <td>{{ payout.charge_amount }}</td>-->
                                <td>{{ payout.final_amount }}</td>
<td>
    {% if payout.status == 'PENDING' %}
        <a href="" class="btn btn-sm btn-primary">PENDING</a>
    {% elif payout.status == 'ACCEPT' %}
        <a href="" class="btn btn-sm btn-success">ACCEPT</a>
    {% elif payout.status == 'CANCEL' %}
        <a href="" class="btn btn-sm btn-danger">CANCEL</a>
    {% endif %}
</td>
                            <td>{{ payout.remarks }}</td>
                                <td>
            <a href="{% url 'edit_payout' payout.id %}" class="btn btn-primary">Edit</a>
                                </td>
                                <td>{{ payout.created_at|date:"d M Y H:i:s" }}</td>
                                <td>{{ payout.updated_at|date:"d M Y H:i:s" }}</td>
                            </tr>
                            {% endfor %}
                        {% else %}

                        {% endif %}
                   </tbody>
                </table>
             </div>
        </div>
    </div>
</div>
<br /><br /><br /><br /><br /><br />

{% endblock %}
{% block script %}
<!-- Add any scripts needed here -->
{% endblock %}
